<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
		<link rel="stylesheet" href="{{ url_for('static', path='/style.css') }}">
		<link rel="icon" href="{{ url_for('static', path='/favicon.png') }}">

		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
	</head>

	<body>
		<ul id="dropdown-sdvx" class="dropdown-content">
			<li><a href="{{ url_for('sdvx_musics') }}">Musics</a></li>
			<li><a href="{{ url_for('sdvx_apecas') }}">Apecas</a></li>
		</ul>

		<nav>
			<div class="nav-wrapper container">
				<a href="{{ url_for('home') }}" class="brand-logo left">FairyJoke</a>
				<ul class="right">
					<li><a class="dropdown-trigger" href="#!" data-target="dropdown-sdvx">SDVX<i class="material-icons right">arrow_drop_down</i></a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			{% block body %}{% endblock %}
		</div>

		<!--JavaScript at end of body for optimized loading-->
		<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js" integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI=" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
		<script src="{{ url_for('static', path='script.js') }}"></script>
	</body>
</html>
