{% extends "base.html" %}

{% block body %}

{% include "_pager.html" %}
<div class="row" id="sdvx-musics">
	{% for music in pager.items %}
	<div class="col m6 l3">
		<div class="card medium">
			<div class="card-image">
				<img src="{{ url_for('get_jacket', music_id=music.id, difficulty=music.difficulties[-1].name.value) }}">
			</div>
			<div class="card-content">
				<div class="card-title">
					<div title="{{ music.title }}">
						{{ music.title }}
					</div>
					<div class="truncate" title="{{ music.artist }}">
						<small>{{ music.artist }}</small>
					</div>
				</div>
				<div class="difficulties">
					{% for diff in music.difficulties %}
					{{ diff }}
					{% endfor %}
				</div>
				<div class="genres">
					{% for genre in music.genres %}
					{{ genre }}
					{% endfor %}
				</div>
				<div class="date">
					{{ music.release_date }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% include "_pager.html" %}

{% endblock %}
