{% set title = 'Musics' %}
{% set section = 'SDVX' %}
{% extends "base.html" %}

{% block body %}

<div class="section row">
	<form method="get" action="{{ url_for('sdvx_musics') }}">
		<div class="input-field col s6 m2">
			<select multiple name="level">
				{% for i in range(1, 21)|reverse %}
					<option value="{{ i }}" {{ 'selected' if i in search.level }}>
						{{ i }}
					</option>
				{% endfor %}
			</select>
			<label>Level</label>
		</div>
		<div class="input-field col s6 m3">
			<select multiple name="genre">
				{% for genre in genres %}
					<option value="{{ genre.name }}" {{ 'selected' if genre.name in search.genre }}>
						{{ genre }}
					</option>
				{% endfor %}
			</select>
			<label>Genre</label>
		</div>
		<div class="input-field col s9 m5">
			<input type="text" name="text" placeholder="nyan cat" id="text" value="{{ search.text or '' }}">
			<label for="text">Text</label>
		</div>
		<div class="input-field col s3 m2">
			<button class="btn" type="submit">Search</button>
		</div>
	</form>
</div>
{% include "_pager.html" %}
<div class="sdvx-list row" id="sdvx-musics">
	{% for music in pager.items %}
	{% set url = url_for('sdvx_music', music_id=music.id) %}
	<div class="col m6 l3">
		<div class="card">
			<div class="card-image">
				<a href="{{ url }}">
					<img src="{{ url_for('get_jacket', music_id=music.id, difficulty=music.difficulties[-1].diff.value) }}">
				</a>
				<div class="card-title difficulties">
				</div>
			</div>
			<div class="card-content">
				<div class="difficulties row card-content">
					{% for diff in music.difficulties %}
					<div class="diff col s3 sdvx-diff-{{ diff.diff }}">{{ diff.level }}</div>
					{% endfor %}
				</div>
				<div class="card-title">
					<div title="{{ music.title }}">
						<a href="{{ url }}">{{ music.title }}</a>
					</div>
					<div class="truncate" title="{{ music.artist }}">
						<small><a href="?text={{ music.artist }}">{{ music.artist }}</a></small>
						{# <small><a href="{{ url_for('sdvx_musics', text=music.artist) }}">{{ music.artist }}</a></small> #}
					</div>
				</div>
				<div class="genres">
					{% for genre in music.genres %}
					<a href="?genre={{ genre }}" class="genre">{{ genre }}</a>
					{% endfor %}
				</div>
				<div class="date">
					{{ music.release_date }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% include "_pager.html" %}

{% endblock %}
