{% set title = 'Apecas' %}
{% set section = 'SDVX' %}
{% extends "base.html" %}

{% block body %}

{% include "_pager.html" %}
<div class="sdvx-list row" id="sdvx-apecas">
	{% for apeca in pager.items %}
	{% set url=url_for('get_apeca', apeca_id=apeca.id) %}
	<div class="col s6 m4 l2">
		<div class="card">
			<div class="card-image">
				<a href="{{ url_for('sdvx_apeca', apeca_id=apeca.id) }}"><img src="{{ url }}"></a>
			</div>
			<div class="card-content">
				<div title="{{ apeca.title }}">
					{{ apeca.title }}
				</div>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% include "_pager.html" %}

{% endblock %}
