{% extends "base.html" %}

{% block body %}

<div class="section">
	<a href="#!" onclick="history.back()">go back</a>
</div>
<div class="section">
	<h1>{{ apeca.title }}</h1>
	<div class="row">
		<div class="col s9 m6">
			<img src="{{ url_for('get_apeca', apeca_id=apeca.id) }}">
		</div>
	</div>
	<ul class="collection">
		<li class="collection-item">Illustrator: {{ apeca.illustrator }}</li>
		<li class="collection-item">Rarity: {{ apeca.rarity }}</li>
		{% for letter in apeca.messages %}
		<li class="collection-item">Message {{ letter }}: {{ apeca.messages[letter] }}</li>
		{% endfor %}
		<li class="collection-item">Found in: {{ apeca.games|join(', ') }}</li>
	</ul>
</div>

{% endblock %}
