argcomplete==1.12.0
attrs==20.3.0
Babel==2.9.1
Brotli==1.0.9
certifi==2022.12.7
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.0.1
cloud-init==22.1
commonmark==0.9.1
configobj==5.0.6
cryptography==36.0.1
dasbus==1.4
dbus-python==1.2.18
decorator==4.4.2
defusedxml==0.7.1
distro==1.5.0
ethtool==0.15
fastcom-cli==1.1
gpg==1.15.1
httpie==3.2.1
idna==2.10
ifstools==1.15
iniparse==0.4
isc==2.0
Jinja2==2.11.3
jsonpatch==1.21
jsonpointer==2.0
jsonschema==3.2.0
kbinxml==1.7
libcomps==0.1.18
libvirt-python==8.5.0
lxml==4.9.1
MarkupSafe==1.1.1
meson==0.58.2
multidict==6.0.4
mutagen==1.46.0
netifaces==0.10.6
nftables==0.1
oauthlib==3.1.1
osbuild==65
packaging==20.9
perf==0.1
pexpect==4.8.0
Pillow==9.2.0
pipim==1.2.0
pipus==1.3
ply==3.11
podman-compose @ https://github.com/containers/podman-compose/archive/devel.tar.gz
prettytable==0.7.2
ptyprocess==0.6.0
pycairo==1.20.1
pycparser==2.20
pycryptodomex==3.17
Pygments==2.7.4
PyGObject==3.40.1
pyinotify==0.9.6
pyparsing==2.4.7
pyrsistent==0.17.3
pyserial==3.4
PySocks==1.7.1
python-dateutil==2.8.1
python-dmidecode==3.12.2
python-dotenv==0.21.0
python-linux-procfs==0.7.0
pytz==2021.1
pyudev==0.22.0
PyYAML==6.0
requests==2.25.1
requests-toolbelt==0.10.1
rich==13.0.0
rpm==4.16.1.3
selinux==3.4
sepolicy==3.4
setools==4.4.0
setroubleshoot==1.1
six==1.15.0
sos==4.3
subscription-manager==1.29.30
systemd-python==234
tqdm==4.64.1
urllib3==1.26.5
websockets==10.4
yt-dlp==2023.1.6
