:root {
        --accent: #e91e63;
        --accent-lighter: #f06292;


        --sdvx-nov: #5A49FB;
        --sdvx-adv: #FFEC4A;
        --sdvx-exh: #F03C30;
        --sdvx-mxm: #ACACAC;
        --sdvx-inf: linear-gradient(to right, yellow,cyan,magenta);
        --sdvx-grv: #FF9E43;
        --sdvx-hvn: #7BDDFF;
        --sdvx-vvd: #FF4795;
	--sdvx-xcd: #187FFF;

        --ddr-b: #64b5f6;
        --ddr-B: #ff9800;
        --ddr-D: #f44336;
        --ddr-E: #00e676;
        --ddr-C: #9575cd;

        --critical: gold;
        --near: gray;
        --miss: darkred;
}

nav,
.btn {
        background: var(--accent);
}

.btn:hover {
        background: var(--accent-lighter);
}

a,
.dropdown-content li > a
{
        color: var(--accent);
}

.row .col {
        margin-left: auto;
        margin-right: auto;
}

.section {
        margin: 1em 0;
}

.dropdown-content.select-dropdown {
        max-height: 500px;
}

.cards {
        display: flex;
        flex-wrap: wrap;
}

.card {
        height: calc(100% - 1em);
        margin-bottom: 1em;
        word-break: break-all;
}

.cards .card-content .card-title {
        color: #000;
        font-size: 150%;
        line-height: initial;
}

.cards .card-content {
        font-size: 80%;
        padding: .6em;
        overflow-x: hidden;
}

.cards .difficulties {
        margin-bottom: 1em;
        margin: auto;
        margin-bottom: .5em;
}

.diff {
        border-radius: 2px;
        height: 2em;
        line-height: 2em;
        text-align: center;
        margin: 0 4px;
}

.diff.none {
	background: gray;
}

.row .col.diff {
        padding: 0;
}

.fifth {
	width: calc(100% / 5);
}

.sdvx-diff-NOV { background: var(--sdvx-nov); }
.sdvx-diff-ADV { background: var(--sdvx-adv); color: #444; }
.sdvx-diff-EXH { background: var(--sdvx-exh); }
.sdvx-diff-MXM { background: var(--sdvx-mxm); color: #444; }
.sdvx-diff-INF { background: var(--sdvx-inf); color: #444; }
.sdvx-diff-GRV { background: var(--sdvx-grv); }
.sdvx-diff-HVN { background: var(--sdvx-hvn); }
.sdvx-diff-VVD { background: var(--sdvx-vvd); color: #444; }
.sdvx-diff-XCD { background: var(--sdvx-xcd); color: #444; }

.ddr-diff-b { background: var(--ddr-b); }
.ddr-diff-B { background: var(--ddr-B); }
.ddr-diff-D { background: var(--ddr-D); }
.ddr-diff-E { background: var(--ddr-E); }
.ddr-diff-C { background: var(--ddr-C); }
